NEXT_PUBLIC_SITE_URL=https://100-acres.vercel.app
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_PROFILE_IMAGES_BUCKET=profile-images
NEXT_PUBLIC_SUPABASE_PROPERTY_IMAGES_BUCKET=property-images
NEXT_PUBLIC_SUPABASE_PROPERTY_VIDEOS_BUCKET=property-videos
NEXT_PUBLIC_SUPABASE_REEL_VIDEOS_BUCKET=reel-videos
PHONE_AUTH_SECRET=
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
MSG91_SEND_OTP_URL=https://control.msg91.com/api/v5/otp
MSG91_VERIFY_OTP_URL=https://control.msg91.com/api/v5/otp/verify
MSG91_RETRY_OTP_URL=https://control.msg91.com/api/v5/otp/retry
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
GOOGLE_SITE_VERIFICATION=
